[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/fullstackreactapp/backend
ExecStart=/home/ubuntu/fullstackreactapp/backend/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/fullstackreactapp/backend/gunicorn.sock myapp.wsgi:application

[Install]
WantedBy=multi-user.target
