name: CI Pipeline for Frontend

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  setup_frontend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install dependencies
      run: |
        cd new-frontend
        npm install

    - name: Build frontend
      run: |
        cd new-frontend
        npm run build
